.hero {
    margin-top: 100px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex-card {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.card-list {
    text-align: center;
}

.card {
    width: 270px;
    height: 350px;
    margin-top: 10px;
    box-shadow:  0px 6px 13px rgba(0,0,0,0.3);
}

.card img {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.card h5 {
    margin-top: 20px;
    font-size: 13px;
}

.card p {
    margin-top: 10px;
    font-size: 12px;
    padding: 10px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    margin-top: 30px;
}

.btn-next {
    padding: 12px 20px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: rgb(139, 79, 139);
    cursor: pointer;
}

.btn-next:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.page-number {
    font-weight: 600;
}