.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.icons {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 30px;
}